$blue: #1F69E5;
$red: #FF7352;
$dark: #202E3D;
$grey: #C1C1C1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
}

body {
  padding: 20px;
}

@import './components/Wave/Wave.scss';
@import './components/Input/Input.scss';
@import './components/Button/Button.scss';
@import './components/Textarea/Textarea.scss';
@import './components/Select/Select.scss';

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
